<div class="container">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="" class="form-label">Student Name:</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="" class="form-label">Roll no:</label>
                <input type="number" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">Admno no:</label>
                <input type="number" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">Mobile no:</label>
                <input type="number" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">College Name:</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">Parent Name:</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">Parent Phone no:</label>
                <input type="number" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">User Name:</label>
                <input type="text" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for="">Password:</label>
                <input type="password" class="form-control" name="" id="">
            </div>
            <div class="row g-3 col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <label for=""></label>
                <button class="btn btn-primary form-control">Submit</button>
            </div>
        </div>
    </div>
</div>
